<!DOCTYPE html>
<html>
    <head>
        <title>BCITour</title>
        <link href="App.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
        #Searchbox {
            width: 80%;
        }

        #sides {
            width: 10%
        }

        #sub {
            width: 10%
        }

    /*
        .slideItem {
            position: relative;
            width: 40%;
            height: 50%;
        }*/

        #myCard {
            position: relative;
            margin: auto;
            background: rgba(255,255,255,0.5);
            height: 70%;
        }

        </style>
    </head>
    <body>
        <!-- Navbar -->
        <div class="w3-top header">
            <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
                <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
                <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4" id="sides">BCITour</a>
                <input type="text" id="Searchbox" class="w3-bar-item w3-padding-large w3-theme-d4 w3-theme-d4" placeholder="Search" name="City">
                <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4" id="sub"><i class="fa fa-home w3-margin-right"></i>Submit</a>
            </div>
        </div>

        <!--move this to be behind the map and animated when error occurs-->
        <div id="msg"></div>

        <div id="mapbox" class="w3-card"></div>
       
        <div id="home"  class="w3-card">
            <div id="homeloc" class="info w3-center w3-xxlarge"></div>
            <div id="temp" class="info w3-center w3-xlarge"></div>
            <div id="summary" class="info w3-center w3-xlarge"></div>
        </div>

        <div id="attract" class="w3-card">
            <h2 class="el-head">List of Attractions</h2>
        </div>

        <div id="weather" class="w3-card">
            <h2 class="el-head">5-Day</h2>
            <div id="w_day1" class="w_days">
                <img id="w_icon1" src="">
                <div class="w_data">
                    <div id ="w_summary1"></div>
                    <div id ="w_temp1"></div>
                </div>
            </div>
            <div id="w_day2" class="w_days">
                <img id="w_icon2" src="">
                <div class="w_data">
                    <div id ="w_summary2"></div>
                    <div id ="w_temp2"></div>
                </div>
            </div>
            <div id="w_day3" class="w_days">
                <img id="w_icon3" src="">
                <div class="w_data">
                    <div id ="w_summary3"></div>
                    <div id ="w_temp3"></div>
                </div>
            </div>
            <div id="w_day4" class="w_days">
                <img id="w_icon4" src="">
                <div class="w_data">
                    <div id ="w_summary4"></div>
                    <div id ="w_temp4"></div>
                </div>
            </div>
            <div id="w_day5" class="w_days">
                <img id="w_icon5" src="">
                <div class="w_data">
                    <div id ="w_summary5"></div>
                    <div id ="w_temp5"></div>
                </div>
            </div>
        </div>

        <div id="news" class="w3-card">
            <h2 class="el-head">News</h2>
            <div id="slideshow">
                <div id="myCard" class="mySlides fade">
                    <a href="" id="link1"><img id="pic1" src="" class="slideItem"></a>
                    <a id="title1" href="" target="_blank">First Thing</a>
                    <div class="numbertext">1 / 5</div>
                </div>

                <div id="myCard" class="mySlides fade">
                    <a href="" id="link2"><img id="pic2" src="" class="slideItem"></a>
                    <a id="title2" href="" target="_blank">Second Thing</a>
                    <div class="numbertext">2 / 5</div>
                </div>

                <div id="myCard" class="mySlides fade">
                    <a href="" id="link3"><img id="pic3" src="" class="slideItem"></a>
                    <a id="title3" href="" target="_blank">Third Thing</a>
                    <div class="numbertext">3 / 5</div>
                </div>

                <div id="myCard" class="mySlides fade">
                    <a href="" id="link4"><img id="pic4" src="" class="slideItem"></a>
                    <a id="title4" href="" target="_blank">Forth Thing</a>
                    <div class="numbertext">4 / 5</div>
                </div>

                <div id="myCard" class="mySlides fade">
                    <a href="" id="link5"><img id="pic5" src="" class="slideItem"></a>
                    <a id="title5" href="" target="_blank">Fifth Thing</a>
                    <div class="numbertext">5 / 5</div>
                </div>
            </div>
        </div>

        <div style="display:none;"> 
            <p id="lat">{{latitude}}</p>
            <p id="lng">{{longitude}}</p>
        </div>

        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="App.js"></script>
        <!-- api key needed below -->
        <script src="https://maps.googleapis.com/maps/api/js?key={{apikey}}&libraries=places&callback=theMap"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </body>
</html>