<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link href="App.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <header id="header">
            <form id="location" action="/" method="POST">
                <input placeholder="Search" autocomplete="on" name="City" id="searchText">
                <input id="sub" type = "submit">
            </form>
        </header>

        <div id="mapbox" class="w3-card"></div>
            <input id="Searchbox" placeholder="Search" autocomplete="on" name="City">
             <input id="sub" type = "submit">

       
        <div id="home"  class="w3-card">
            <div id="homeloc" class="info w3-center w3-xxlarge"></div>
            <div id="temp" class="info w3-center w3-xlarge"></div>
            <div id="summary" class="info w3-center w3-xlarge"></div>
        

        <div id="attract" class="w3-card">
            <h2 class="el-head">List of Attractions</h2>
        </div>

        <div id="weather" class="w3-card">
            <h2 class="el-head">5-Day</h2>
        </div>

        <div id="news" class="w3-card">
            <h2 class="el-head">News</h2>
        </div>

        <div style="display:none;"> 
            <p id="lat">{{latitude}}</p>
            <p id="lng">{{longitude}}</p>
        </div>

        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="App.js"></script>
        <!-- api key needed below -->
        <script src="https://maps.googleapis.com/maps/api/js?key=[api key here]&libraries=places&callback=theMap"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </body>
</html>