.info{
    font-size: 20px;
    font-family: fantasy;
}

#mapbox{
    position: absolute;
    top: 15%;
    left: 2.5%;
    width: 65%;
    height: 55%;
    z-index: 0;
    overflow:visible;
}

#location{
    width: 100%;
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    margin:auto;
    z-index: 0;
    text-align: center;
}

#attract {
    position: absolute;
    top: 15%;
    left: 70%;
    width: 27.5%;
    height: 55%;
    z-index: 0;
    overflow-y: scroll;
}

#weather {
    position: absolute;
    top: 75%;
    left: 2.5%;
    width: 25%;
    height: 70%;
    z-index: 0;
}

#news {
    position: absolute;
    top: 75%;
    left: 30%;
    width: 67.5%;
    height: 80%;
    z-index: 0;
}

#slideshow {
    margin: auto;
    left: 0;
    right: 0;
    width: 80%;
    height: 100%;
    text-align: center;
}

#logo {
    position: relative;
    height: 40px;
    font-size: 32px;
    vertical-align:middle;
    display: inline-block;
    margin: 10px 0;
    width: 40px;
}

#Searchbox {
    width: 75%;
    background-color: grey !important;
}

.dropButton {
    background-color: rgba(0,0,0,0);
    font-size: 16px; /* 16 for chrome, 18 for firefox */
    border: none;
}

#header {
    position: fixed;
    left: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
    background: rgba(255,255,255,0.5);
}

.el-head {
    text-align: center;
}

.w_days {
    position: relative;
    height: 15%;
    margin: 7px;
    background: rgba(255,255,255,0.5);
}

.w_data {
    position: relative;
    vertical-align: middle;
    display: inline-table;
}

#w_icon {
    position: relative;
    height: 100%;
    width: 60px ;
}

body {
    background-color: white;
    background-image: url("http://www.bhmpics.com/wallpapers/vancouver_city_night_blue_sky-1920x1080.jpg");
    background-size: 135%;
}

.w3-card {
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}

#title1, #title2, #title3, #title4, #title5 {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.titles {
    word-wrap: break-word;
}

#pic1, #pic2, #pic3, #pic4, #pic5 {
    width: 50vw;
    float: left;
}

#myCard {
    position: relative;
    margin: auto;
    background: rgba(255,255,255,0.5);
    height: 85%;
}

html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}   

#sides {
    width: 10%
}

#sub {
    width: 10%
}

.attrBox {
    background: rgba(255,255,255,0.5);
    padding: 7px;
    margin: 4px;
}

.attrBox:hover {
    background-color: darkslategrey;
    color: white;
}

#mapOptions {
    width: 5%;
    overflow: visible;
}

#mapOptions:hover .mapOptions-content {
    display: block;
}

.mapOptions-content {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.mapOptions-form input {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline;
}

.mapOptions-form label:hover {
    background-color: lightblue;
}