.info{
    font-size: 20px;
    font-family: fantasy;
}

#mapbox{
    position: absolute;
    top: 15%;
    left: 2.5%;
    width: 65%;
    height: 55%;
    z-index: 1;
    overflow:visible;
}

#location{
    width: 100%;
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    margin:auto;
    z-index: 2;
    text-align: center;
}

#attract {
    position: absolute;
    top: 15%;
    left: 70%;
    width: 27.5%;
    height: 55%;
    z-index: 1;
}

#weather {
    position: absolute;
    top: 75%;
    left: 2.5%;
    width: 25%;
    height: 55%;
    z-index: 1;
}

#news {
    position: absolute;
    top: 75%;
    left: 30%;
    width: 67.5%;
    height: 55%;
    z-index: 1;
}

.el-head {
    text-align: center;
}


#Searchbox, #sub {
    top: 0;
    position: relative;
    height: 30px;
    vertical-align:middle;
    display: inline-block;
}

#Searchbox {
    top: -1px;
    width: 80%;
}
#sub {
    top: -1.5px;
}

#slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
    background: rgba(255,255,255,0.5);
    left: 0;
    right: 0;
    width: 90%;
    text-align: center;
}

#logo {
    position: relative;
    height: 40px;
    font-size: 32px;
    vertical-align:middle;
    display: inline-block;
    margin: 10px 0;
    width: 40px;
}

#header {
    position: fixed;
    left: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
    background: rgba(255,255,255,0.5);
}

.w_days {
    position: relative;
    height: 15%;
    margin: 7px;
    background: rgba(255,255,255,0.5);
}

.w_data {
    position: relative;
    vertical-align: middle;
    display: inline-table;
}

#w_icon {
    position: relative;
    height: 100%;
    width: 60px ;
}

body {
    background-color: lightpink;
}